/* ========================================================== */
/* 			     TABLETS (max-width: 992px)                   */
/* ========================================================== */

@media screen and (max-width: 992px) {
    
    /* ========================================================== */
    /* 			               01. GENERAL LAYOUT                 */
    /* ========================================================== */
    section:not(.home-section):not(.think-winner):not(.life-balance) {
        padding: 40px 0!important;
    }
    .section-title { 
        font-size: 30px;   /* on mobile - 23px */ 
    }
    .custom-btn {
        font-size: 22px;
        padding: 15px;
        min-width: 350px;
    }    
    
    /* ========================================================== */
    /* 			                HOME SECTION                      */
    /* ========================================================== */
    .topnavbar {
        padding: 25px 0;
    }
    .topnavbar span {
        font-size: 19px;
    }
    .home-section .flex-row {
        padding: 50px 0;
    }
    .home-section_left .first { 
        font-size: 27px;  
        margin-bottom: 30px;
    }
    .home-section_left .first::before {
        width: 120px;
        height: 120px;
    }
    .home-section_left .second, .home-section_left .third {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .home-section_right .play img {
        width: 90px;
    }
    .home-section_right .play_text {
        font-size: 14px;
    }
    /* ========================================================== */
    /* 			                BIRTH-OF-LEADER                   */
    /* ========================================================== */
    .birth-of-leader .quote_row {
        margin-top: 70px;
        display: flex;
        flex-direction: column-reverse;
    }
    .birth-of-leader .quote_row::before {
        width: 100%;
        height: 70%;
    }
    .quote-left-block {
        margin-bottom: 20px;
    }
    .quote-left-block, .quote-right-block {
        text-align: center!important;
        font-size: 22px;
        padding-right: 0;
    }
    .birth-of-leader_bottom p {
        font-size: 24px;
        margin-top: 25px;
    }
    .birth-of-leader .quote_text {
        font-size: 18px;  /* on mobile - 16px */
    }
    
    .birth-of-leader_man {
        width: 150px;
    }
    .birth-of-leader_bottom .btn {
        margin-top: 30px;
    }
    /* ========================================================== */
    /* 			               TRUE-LEADER                        */
    /* ========================================================== */
    .true-leader {
        padding-top: 60px;
    }    

    .true-leader .true-leader-block {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .true-leader .quote_text {
        font-size: 22px; 
    }
    .birth-of-leader__quote__text {
        padding: 20px 0;
        padding-top: 0;
        margin-bottom: 30px;
    }
    .happy-man {
        width: 240px;
    }
    /* ========================================================== */
    /* 			               THINK WINNER                       */
    /* ========================================================== */
    .think-winner {
        padding-top: 65px;
    }
    .think-winner .quote_text  {
        font-size: 16px; 
    }
    .think-winner .text-block > p {
        font-size: 18px; 
        text-align: center;
    }
    .think-winner .quote_row {
        margin-bottom: 70px;
    }
    .think-winner .wozniak_wrapp {
        margin-bottom: 0;
        margin-top: 50px;
    }
    
    .think-winner .wozniak_wrapp .left-text {
        width: 75%;
        padding: 40px;
        padding-right: 0;
        font-size: 14px;
    }
    
    .think-winner .wozniak_wrapp .left-text .left-text-author {
        right: inherit;
        width: auto;
    }
    .think-winner .wozniak_wrapp .left-text .left-text-author .author_info {
        font-size: 18px;
    }
    .think-winner .wozniak_wrapp .left-text .left-text-author .quote_author {
        font-size: 22px;
    }
    .think-winner .video-block {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 70px;
    }
    .think-winner .video-block .text-block {
        padding-bottom: 40px;
        font-size: 22px; 
        text-align: center;
    }
    .think-winner_bottom h5 {
         font-size: 30px;  
        margin-bottom: 30px;
    }
    .think-winner_bottom p {
        font-size: 24px; 
        margin-bottom: 25px;
    }
    .think-winner .think-winner_woman {
        width: 200px;
/*        bottom: -46px;*/
        left: -80px;
    }
    
    .think-winner .list .list-item {
        text-align: left;
    }
    /* ========================================================== */
    /* 			               THINK WINNER                       */
    /* ========================================================== */
    
    .life-balance__quote__text .quote_text {
         font-size: 22px; 
    }
    .life-balance .quote_row {
        margin: 40px 0 70px 0;
    }
    .life-balance:not(.get-more-info) .text-block {
        font-size: 16px; 
        text-align: center;
        margin-bottom: 35px;
    }
    .life-balance:not(.get-more-info) .video-block {
        padding-bottom: 30px;
        margin-bottom: 50px;
    }
    
    .life-balance .list .list-item {
        padding-right: 0;
        padding-left: 60px;
    }
    
    .life-balance .list .list-item span {
        text-align: left;
    }
    
    .life-balance .list .list-item img {
        left: 0;
    }
    
    .think-winner:not(.charisma-block) .video-block{
        margin-bottom: 50px;
        
    }
    
    .life-balance .life-balance_woman {
        width: 200px;
        right: -50px;
    }
    
    .businessman {
        width: 120px;
        left: -45px
    }
    /* ========================================================== */
    /* 			               GET-MORE-INFO                      */
    /* ========================================================== */
    .get-more-info .video-block {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .get-more-info .text-block span {
        font-size: 18px;
    }
}

/* ========================================================== */
/* 			               MAX-WIDTH: 768px                   */
/* ========================================================== */

@media screen and (max-width: 768px) {
    
    /* ========================================================== */
    /* 			               01. GENERAL LAYOUT                 */
    /* ========================================================== */
    .section-title { 
        font-size: 23px;   
    }
    .custom-btn {
        width: 280px;
        max-width: 280px;
        min-width: 280px;
    }    
    
    /* ========================================================== */
    /* 			                BIRTH-OF-LEADER                   */
    /* ========================================================== */
    .birth-of-leader .quote_row {
        margin-bottom: -25px;
    }

    .birth-of-leader_bottom p {
        font-size: 18px;
    }
    
    .quote-left-block, .quote-right-block {
        text-align: center!important;
        font-size: 20px;
    }
    .birth-of-leader .quote_text {
        font-size: 16px;  /* on mobile - 16px */
    }
    
    .birth-of-leader_man {
        width: 120px;
        right: -30px;
    }

    /* ========================================================== */
    /* 			               TRUE-LEADER                        */
    /* ========================================================== */

    .true-leader .quote_text {
        font-size: 16px; 
        margin-bottom: 0;
    }
    
    .happy-man {
        width: 170px;
        right: -60px;
    }
    .true-leader .items-wrapp .item {
        margin-bottom: 55px;
        box-shadow: 0px 9px 24px -5px #dcdcdc;
    }
    
    .true-leader .items-wrapp {
        margin: 75px 0 0 0;
    }
    /* ========================================================== */
    /* 			               THINK WINNER                       */
    /* ========================================================== */

    .think-winner .text-block > p {
        font-size: 16px;
    }
    .think-winner .quote_row::before {
        width: 100%;
    }
 
    .think-winner .video-block .text-block {
        font-size: 16px; 
    }
    .think-winner .quote_text {
        text-align: center;
    }
    .think-winner_bottom h5 {
         font-size: 23px;   
    }
    .think-winner_bottom p {
        font-size: 18px; 
    }
    .think-winner_woman {
        width: 130px;
    }
    /* ========================================================== */
    /* 			               THINK WINNER                       */
    /* ========================================================== */
    
    .life-balance__quote__text .quote_text {
         font-size: 16px; 
        text-align: center;
    }

    .life-balance .quote_row::before {
        width: 100%;
    }
    .life-balance .text-block {
        font-size: 16px;  

    }
    /* ========================================================== */
    /* 			               GET-MORE-INFO                      */
    /* ========================================================== */
    
    .get-more-info .text-block span {
        font-size: 16px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 576px) {
     .home-section_left {
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .topnavbar a {
        font-size: 17px;
    }
}


