/*some reset*/
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 500;
}
p {
  margin: 0;
}

a {
  color: #163C9C;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  position: relative;
  min-height: 100vh;
  padding-bottom: 10px;
  font-size: 14px;
  color: #000;
}

h1 {
  font-size: 26px;
  line-height: 1.13;
}

h2 {
  font-size: 23px;
  line-height: 1.13;
}

h3 {
  font-size: 20px;
  line-height: 1.13;
}

h4 {
  font-size: 18px;
  line-height: 1.13;
}

h5 {
  font-size: 16px;
  line-height: 1.13;
}
.bold {
  font-weight: bold;
}
.small-txt {
  font-size: 12px;
}

.w-100 {
  width: 100%;
}
.text-muted {
  color: #8BA0B4;
}

.text-muted.mini {
  font-size: 12px;
}
.mr-1 {
  margin-right: 10px;
}

.mt-1 {
  margin-top: 10px;
}
.mb-1 {
  margin-bottom: 10px;
}

.red {
  color: #ff0317;
}

.icon-like {
  color: #8BA0B4;
}

a:hover {
  text-decoration: none;
}
.icon-heart, .icon-heart-fill {
  color: #ff03178c;
}
.btn.btn-fill {
  background-image: -webkit-linear-gradient(310deg, #f45c43 0%, #eb3349 100%);
  background-image: linear-gradient(140deg, #f45c43 0%, #eb3349 100%);
  color: #fff;
  border-radius: 3px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  padding: 0 20px;
  display: inline-block;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn.btn-fill:hover, .btn.btn-fill:focus {
  background-image: -webkit-linear-gradient(310deg, #eb3349 0%, #f45c43 100%);
  background-image: linear-gradient(140deg, #eb3349 0%, #f45c43 100%);
}
.product {
  background: #FFFFFF;
  border: 1px solid #C8DEF0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
}
.nowrap {
  white-space: nowrap;
}
.description {
  padding-left: 130px;
}
@media (min-width: 992px) {
  .description .row {
    display: flex;
    align-items: center;
  }  
}

.under-title {
  font-size: 20px;
  display: block;
  line-height: 1.7;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.product  .image.absolute {
  text-align: center;
  width: 120px;
  position: absolute;
  left: -120px;
  top: 0;
}
.product .mobile-tabs {
  display: none;
}

.product  .image.absolute .rating {
  margin-top: 5px;
}

.description .mobile-actions a {
  border: 1px solid #C8DEF0;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 3px;
  display: block;
  width: 90px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 5px 0;
}

.description .mobile-actions i {
  display: block;
  font-size: 1.3em;
}

.product  .image.absolute img {
  max-width: 65%;
}

@media (min-width: 576px) {
  .mobile-actions {
    display: none;
  }
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.properties p {
  display: inline-block;
}
.pick-color, .pick-memory {
  display: inline-block;
}
.pick-color {
  margin-right: 20px;
}
.pick-color label {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  margin: 0;
}

.pick-color input, .pick-memory input {
  display: none;
}

.pick-color .color {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.pick-color input:checked + label:before {
  content: "";
  display: block;
  width: calc(100% + 6px);
  border: 1px solid #8BA0B4;
  left: -3px;
  top: -3px;
  height: calc(100% + 6px);
  position: absolute;
  border-radius: 4px;
}
.pick-memory .memory {
  margin-left: 5px;
  padding: 2px 0;
  display: inline-block;
}
.pick-memory label {
  border: 1px solid #8ba0b4;
  border-radius: 3px;
  padding: 4px 6px;
  padding-bottom: 3px;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.pick-memory label .check-icon {
  display: none;
}
.pick-memory input:checked + label > .check-icon {
  display: inline;
}

.actions-wrapper {
  margin-top: 20px;
}
.price-block {
  background: #FFFFFF;
  border: 1px solid #C8DEF0;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-block p {
  display: inline-block;
  margin-right: 5px;
  white-space: initial;
  font-size: 12px;
  line-height: 1;
}
.price-block .price {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
}
.price-block .white-btn {
  margin-left: 15px;
  padding: 0 20px;
}
.actions a {
  font-size: 13px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
}
.justify-content-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

.price-block .fast-order-btn {
  vertical-align: middle;
  margin-left: 15px;
}
.with-icon {
  display: inline-block;
  padding-left: 20px;
  background-size: 15px;
  background-position: 0 center;
  background-repeat: no-repeat;
}
.with-message-icon {
  background-image: url('../img/message.svg');
}
.with-weights-icon {
  background-image: url('../img/weights.svg');
}

.sell-block {
  margin-top: 20px;
  border: 1px solid #C8DEF0;
  border-radius: 3px;
  padding: 10px;
  font-size: 13px;
}

.sell-block p {
  font-weight: bold;
  margin-bottom: 5px;
}

.sell-block .txt {
  width: 60%;
  display: inline-block;
  padding-right: 15px;
}
.sell-block .sell-btn {
  width: 39%;
}
.sell-btn {
  display: inline-block;
  padding: 0 5px;
  width: 100%;
  background-color: #C8DEF0;
  border: 1px solid #C8DEF0;
  text-align: center;
  height: 40px;
  border-radius: 3px;
  line-height: 40px;
  color: #163C9C;
  vertical-align: top;
  min-width: 150px;
  transition: all .4s;
}

.sell-btn:hover {
  color: #fff;
  background-color: #b1d8f9;
}
.specification {
  text-align: right;
  font-size: 13px;
  padding-right: 25px;
}

.specification p {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.specification > div {
  display: inline-block;
  text-align: left;
}

.spec-items td:first-child {
  font-family: 'Noto Sans Regular';
  padding-right: 10px;
  color: #8BA0B4;
  position: relative;
}
.spec-items.with-dots td:first-child span {
  background-color: #fff;
  position: relative;
  z-index: 1;
} 
.spec-items.with-dots td:first-child:before {
  position: absolute;
  bottom: 4px;
  content: '';
  width: 100%;
  border-bottom: 1px dotted #8BA0B4;
}
.spec-items td:last-child {
  color: #000;
  font-weight: 500;
}

.share {
  text-align: right;
  padding: 5px;
  font-size: 13px;
}

.share a {
  display: inline-block;
  border-radius: 3px;
  margin-right: 2px;
  vertical-align: middle;
}

.share a:hover {
  opacity: 0.8;
}
.filters-block {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.filters-block > div > * {
  display: inline-block;
}

.price-filter {
  margin-left: 10px;
}
.price-dynamic {
  margin-right: 40px;
  color: #163c9c;
}
.price-dynamic i {
  font-size: 1.15em;
}
.product-view a {
  color: #d6d6d6;
  margin-right: 5px;
  text-decoration: none;
}

.product-view a.active {
  color: #8c8c8c;
}
.parameters-block {
  border: 1px solid #E9E9EA;
  background-color: rgba(33, 37, 41, 0.03);;
  padding: 20px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
}

.state-checkboxes span {
  display: inline-block;
  margin-right: 10px;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-weight: normal;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 5px;
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: white;
  border: 1px solid #8BA0B4;
  border-radius: 3px;
}
.styled-checkbox:hover + label:before {
  background: #c0cedc;
}
.styled-checkbox:checked + label:before {
  background: #8BA0B4;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 11px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

/*СПИСОК ТОВАРОВ*/
.products-list {
  margin-top: 20px;
}
.product-item_wrapp {
    margin-bottom: 10px;
    border: 1px solid #C8DEF0;
     border-radius: 6px;
}
.product-item {
  background-color: #fff;
  border-radius: 6px;
  padding: 5px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-item .left {
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex: 2;
}
.product-item .product-image {
  margin-right: 15px;
}
.product-item .product-image .image {
  width: 120px;
  border-radius: 3px;
  position: relative;
}

.product-item .product-image .image img {
  max-width: 100%;
  max-height: 100%;
}
.product-item .product-image .image .count {
  padding: 5px;
  background: rgba(33, 37, 41, 0.2);;
  position: absolute;
  right: 0;
  top: 0;  
  color: #fff;
  line-height: 1;
  user-select: none;
  font-weight: normal;
}

.product-item .product-image .image .count i {
  vertical-align: middle;
}

.state-item {
  user-select: none;
  border-radius: 3px;
  font-size: 11px;
  color: #fff;
  font-weight: 500;
  padding: 3px 7px;
}
.product-info_title a {
  font-size: 15px;
}

.product-info_title .state-item {
  margin-right: 10px;
}
.state-item.green {
  background: #27AE60;
}
.state-item.blue {
  background: #2D9CDB;
}
.state-item.light-blue {
  background: #56CCF2;
}
.state-item.orange {
  background: #F2C94C;
}
.product-info_under {
  margin: 5px 0 10px 0;
}
.product-info_under .code {
  font-size: 9px;
  color: #8BA0B4;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.delivery + .tooltip .tooltip-inner {
  background-color: #4F4F4F!important;
}
.delivery + .tooltip .tooltip-arrow {
  border-top-color:  #4F4F4F!important;
}

.product-info_short {
  margin-bottom: 5px;
}
.descr-item {
  background-color: #F1F1F1;
  user-select: none;
  border-radius: 3px;
  display: inline-block;
  font-size: 9px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 11px;
  padding: 3px;
  margin-right: 5px;
}
.product-actions {
  white-space: nowrap;
  text-align: right;
  flex: 1;
}
.pay-info {
  text-align: center;
}

.pay-info.grid {
  display: none;
  float: right;
}
.pay-info .online-pay-item {
  font-weight: normal;
  font-size: 9px;
  line-height: 14px;
  text-align: center;
  color: #10B566;
  border: 1px solid #C8DEF0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 3px 7px;
  white-space: initial;
  user-select: none;
  margin-top: 10px;
  display: inline-block;
}
.pay-info .online-pay-item i {
  font-size: 1.25em;
  vertical-align: middle;
}
.product-actions > div {
  display: inline-block;
  vertical-align: text-top;
}
.pay-info .price {
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
}

.pay-info .old-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: #8BA0B4;
  text-align: right;
}

.discount-item {
  display: inline-block;
  background-image: url(../img/discount-ribbon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.product-actions .product-actions_btns {
  width: 195px;
  margin-left: 30px;
}

.product-actions_btns .top {
  display: flex;
}
.add-to-cart.btn.added {
  background-color: #bdbdbd;
  background-image: none;
  color: #163C9C;
}
.product-actions_btns .add-to-cart {
  flex-grow: 1;
  margin-right: 10px;
}
.product-actions_btns .credit {
  padding: 0 10px;
}
.white-btn {
   height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C8DEF0;
  border-radius: 3px;
  text-align: center;
  transition: all .4s;
}
.add-bookmark {
  width: 40px;
  font-size: 20px!important;
}
.fast-order {
  margin-top: 10px;
}

.white-btn:hover {
  background-color: #dde9f3;
}

/*GRID VIEW OF PRODUCTS*/

.grid-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid-view .product-item {
 /* width: 32.5%;
  flex-basis: 32.5%;*/
  padding-right: 5px;
  flex-direction: column;
}
.grid-view .product-item .product-image {
  margin-right: 0;
  width: 100%;
  margin-bottom: 15px;
}
.grid-view .product-item .product-image .image {
  width: 100%;
  text-align: center;
}
.grid-view .product-item .product-image .image img {
  /*max-width: 50%;*/
  max-height: 230px;
}
.grid-view .product-item .left {
  flex-direction: column;
  margin-right: 0;
}

.grid-view .product-item .product-info_title, .grid-view .product-item .product-info_under {
  display: inline;
}
.grid-view .pay-info {
  display: none;
}

.grid-view .product-item .product-info_title a, .grid-view .product-item .product-info_under .delivery {
  display: none;
}
.grid-view .product-item .product-info_short {
  margin-top: 15px;
}

.grid-view .product-item_wrapp {
  position: relative;
  height: 315px;
      width: 32.5%;
    flex-basis: 32.5%;
    overflow: hidden;
    transition: all .3s;
}
.grid-view .product-item_wrapp:hover {
  overflow: visible;
  z-index: 10;
  border: none;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.09);
  transform: scale(1.05);
}
.grid-view .product-item_wrapp:hover .product-item {
  position: absolute;
  border: 1px solid #C8DEF0;
  border-radius: 6px;
}
.grid-view .product-info_short, .grid-view .product-info_text {
  opacity: 0;
  transition: all .3s;
}

.grid-view .product-item_wrapp:hover .product-info_short, .grid-view .product-item_wrapp:hover .product-info_text {
  opacity: 1;
}
.grid-view .pay-info.grid {
  display: block;
}

.grid-view .product-actions .product-actions_btns {
  width: 100%;
  margin-left: 0;
}
.grid-view .product-actions {
  width: 100%;
}

.show-more_products {
  margin: 20px 0 30px 0;
  text-align: center;
  width: 100%;
}
.show-more_products a {
  font-weight: 500;
  font-size: 16px;  
  color: #163C9C;
}
.specifications {
  margin-bottom: 40px;
}
.specifications-list {
  padding: 15px 0;
}
.product_title {
  margin-bottom: 5px;
  color: #212529;
}
.specifications-list .item {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  line-height: 0.9;
}
.specifications-list .item .item-label {
  border-bottom: 1px dotted #D6D6D6;
  width: 75%;
  min-width: 75%;
  margin-right: 5px;
  line-height: 0.65;
}
.specifications-list .item > * {
  display: table-cell;
}
.specifications-list .item .item-label span {
    background: #fff;
    padding-bottom: 1px;
}

.specifications-list .item .item-value {
  white-space: initial;
  font-weight: 500;
}
    
.videowrapp {
  padding-top: 56.25%;
  position: relative;
}

.videowrapp iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.about-product_text {
  padding: 20px 0 25px 0;
}

.find-product {
  text-align: center;
  padding: 20px 25px;
  background: #F2F2F2;
  border: 0.5px solid #F2F2F2;
  border-radius: 5px;
}

.find-product .find-product_title {
  font-size: 23px;
  color: #212529;
  font-weight: 500;
}

.find-product span {
  display: inline-block;
  margin: 10px 0;
}

.product .border-right {
  padding-right: 40px;
  border-right: 1px solid #f4f4f4;
}

.product-evaluation {
  color: #8BA0B4;
}

.product-evaluation .bold {
  color: #000;
}

.count-reviews {
  color: #8BA0B4;
}

.icon-star {
  color: #D6D6D6;
}
.icon-star.fill {
  color: #ED1C24;
}
.product-stars .rating {
  display: inline-block;
  margin-left: 5px;
}
.product-stars .icon-star {
  margin: 0 -2px;
}
.your-review {
  padding: 15px;
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
}

.rating-wrapp {
  margin:10px 0;
}
.your-review .rating {
  display: inline-block;
  font-size: 1.2em;
  height: 16px;
  margin-right: 5px;
  /*transform: rotate(180deg);*/
}
.hoverText {
  color: #8C8C8C;
}
.your-review .rating input {
  opacity: 0;
  display: none;
  position: absolute;
  left: -100000px;
}
.your-review .rating label {
  float:right;
  margin-bottom: 0;
  /*transform: rotate(180deg);*/
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}
.your-review .rating label:hover ~ label i,
.your-review .rating input:focus ~ label i,
.your-review .rating input:checked ~ label i,
.your-review .rating label:hover i  {
  color: #ED1C24;
  cursor: pointer;
}
.form-control {
  border: 1px solid #C8DEF0;
}
textarea {
  width: 100%;
  resize: none;
}
.form_inline {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.form_inline .form-control_wrapp {
  width: calc(50% - 5px);
} 
.form_inline .form-control {
  /*height: 44px;
  line-height: 44px;*/
  padding: 21px 12px;
}
.text-hint {
  font-size: 10px;
  color: #828282;
  padding-left: 15px;
}
.review-block:first-of-type {
  padding-top: 25px;
  margin-top: 30px;
}
.review-block {
  padding: 20px 0;
  border-top: 1px solid rgba(33, 37, 41, 0.05);
}
.review-block_text {
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0 10px 0;
}

.review-block_bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  color: #8BA0B4;
}
.review-block_bottom a {
  color: #8BA0B4;
  margin-left: 7px;
  display: inline-block;
}

.review-block_bottom a:hover i {
  color: #6b7a88;
}

.empty-comments {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #C8DEF0;
}
.empty-comments img {
  margin-bottom: 15px;
}
.dislike i {
  transition: all .4s;
  display: inline-block;
  transform: rotate(180deg);
}
.review-block_reviewer .date {
  margin-left: 10px;
}

.reviews-blocks .show-more-reviews {
  font-weight: 500;
}

@media (min-width: 992px) {
  #priceDynamics .modal-dialog {
    width: 985px;
  }  
}
.modal .modal-dialog .close {
    position: absolute;
    right: -35px;
    top: 2px;
    opacity: 1;
}
.modal .modal-content {
  padding: 30px;
}

#priceDynamics .top {
  font-weight: 500;
}
.newsletter-block {
  background: #F2F2F2;
  border: 1px solid #C8DEF0;
  box-sizing: border-box;
  border-radius: 5px;  
  padding: 15px 25px 20px 15px;
  display: flex;
  align-items: flex-end;
}

.newsletter-block .text {
  padding-left: 28px;
  position: relative;
}
.newsletter-block .text p.title {
  font-weight: 500;
  margin-bottom: 5px;
}

.newsletter-block .text p.title + span {
  font-size: 13px;
  line-height: 18px;
}

.newsletter-block .text > .check {
  position: absolute;
  left: 0;
  top: 0;
}

.newsletter-block .form {
  display: flex;
}
.newsletter-block .form input {
  border: 1px solid #C8DEF0;
  border-right: 0;
  box-sizing: border-box;
  border-radius: 3px 0px 0px 3px;
  padding-left: 15px;
}
.newsletter-block .form a {
  height: 57px;
  line-height: 57px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


/* СТРАНИЦА ТОВАРА */

.product-top .info {
  margin: 7px 0 12px 0;
  font-size: 12px;
  line-height: 14px;
}
.product-top .info > * {
  margin-right: 10px;
}

.product-top .info .state-item {
  margin-left: 5px;
}

.product-top .info [class^="icon-"] {
  font-size: 1.3em;
  vertical-align: middle;
  margin-right: 5px;
} 

.product.single > .image {
  width: 60%;
}

.product.single .description {
  width: calc(40% - 15px);
}

.product.single .description .product-actions_btns {
  flex-grow: 1;
}
.product.single .description .pay-info {
  margin-right: 40px;
  margin-bottom: 10px;
}
.instruction {
  margin-top: 25px;
}
.instruction .head {
  padding-bottom: 5px;
  border-bottom: 1px solid #C8DEF0; 
  margin-bottom: 10px; 
}

.instruction .head p {
  font-weight: 500;
}
.delivery-item {
  margin: 10px 0;
}
.delivery-item_head .icon {
  display: inline-block;
  width: 25px;
  vertical-align: text-bottom;
}

.delivery-item_head span {
  font-weight: 500;
}

.delivery-item_info {
  padding-left: 30px;
  display: inline-block;
  color: #8BA0B4;
}

.relative {
  position: relative;
}
.info-button i {
  color: #163C9C;
}
.info-button_hint {
  z-index: 100;
  background-color: #fff;
  transform: scale(0);
  transform-origin: top left;
  transition: all .4s;
  position: absolute;
  padding: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  left: calc(100% + 10px);
  top: 0;
  width: 200px;
}

.info-button:hover + .info-button_hint {
  transform: scale(1);
}
.warranties {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.warranties > div {
  margin: 3px 10px 3px 0px;
}
.repair-warranty {
  display: inline-flex;
  color: #fff;
  justify-content: center;
  min-width: 92px;
  max-width: 129px;
  align-items: center;
  background-color: #00aeef;
  border-radius: 5px;
  user-select: none;
  border-bottom-right-radius: 0;
  padding: 2.5px 8px;
  font-size: 10px;
  font-weight: 300;
  white-space: nowrap;

}
.repair-warranty span {
  display: inline-block;
  vertical-align: middle
}
.repair-warranty img {
  width: 35px;
}
.repair-warranty span .count {
  font-size: 2.8em;
  margin-right: 4px;
  font-weight: bold;
}

.product-tabs .nav-tabs>li.active>a, .product-tabs .nav-tabs>li.active>a:focus, .product-tabs .nav-tabs>li.active>a:hover {
  border: none;
  border-bottom: 2px solid red;
  color: #000;
}

.product-tabs .nav-tabs>li>a  {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.product-tabs .tab-pane {
  padding: 10px 0;
}

.mini-title {
  font-size: 16px;
  line-height: 18px;
  color: #000;
  font-weight: 500;
  margin-bottom: 8px;
}
.set-block {
  margin: 10px 0;
}
.checklist {
  padding: 0;
}
.checklist li {
  list-style: none;
  padding-left: 20px;
  padding: 3px 0;
}

.checklist li:before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(../img/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.product-tabs .specification {
  text-align: initial;
}
.pick-product_item {
  display: inline-block;
}
.pick-product_item input{
  display: none;
}
.find-product-modal input {
 /* height: 44px;
  line-height: 44px;*/
  padding: 21px 12px;
  margin-bottom: 10px;
}
.pick-product_item label {
  padding: 3px;
  text-align: center;
  font-weight: normal;
  border: 1px solid transparent;
  cursor: pointer;
}
.pick-product {
  margin-right: 15px;
}
.pick-product + div {
  flex-grow: 1;
}

.pick-product_item input:checked + label {
  border-color: #C8DEF0;
  border-radius: 5px;
}

.pick-product_item .icon {
  width: 80px;
  height: 80px;
  background-color: #E0E0E0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.find-product-modal .sell-btn {
  height: 44px;
  line-height: 44px;
}
.find-product-modal .bottom > * {
  width: 200px;
  max-width: calc(50% - 10px);
  min-width: calc(50% - 10px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.find-product-modal .modal-content {
  padding-bottom: 10px;
}

.find-product-modal .hint {
  font-size: 10px;
  color: #828282;
  margin-top: 40px;
}
.fixed-head {
  padding: 0;
  transition: padding .4s;
}
.fixed-head.fix {
  position: fixed;
  top: 0;
  padding: 10px 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 3px 3px;
  background-color: #fff;
  z-index: 20;
}
@media (min-width: 768px) {
  .fixed-head.fix {
    width: 720px;
  }  
}

@media (min-width: 992px) {
  .fixed-head.fix {
    width: 940px;
  }  
}
@media (min-width: 1200px) {
  .fixed-head.fix {
    width: 1140px;
  }  
}


/*----- MEDIA QUERIES -----*/
@media(max-width: 992px) {
  .grid-view .product-item_wrapp {
    width: 49%;
    flex-basis: 49%;
  }
  .product {
    border: none;
    padding: 0;
  }
  .product .tab {
    display: none;
  }
  .product .tab.active {
    display: block;
  }
  .product .border-right {
    padding: 0 10px;
    padding-bottom: 10px;
    border-right: none;
    border-radius: 0 0 5px 5px;
    border: 1px solid #ddd;
    border-top: none;
  }
  .product .border-right.bottom {
    border: none;
    margin-top: 15px;
  }
  .product .reviews {
    border: 1px solid #ddd;
    padding: 20px 10px;
    border-top: none;
  }
  .rating-wrapp {
    text-align: center;
  }
  .your-review .rating {
    font-size: 45px;
    height: initial;
  }
  .your-review .rating + .hoverText {
    font-size: 18px;
    display: block;
  }
  .your-review .form_inline .form-control_wrapp {
    width: 100%;
    margin-bottom: 10px;
  }
  .your-review .form_inline {
    flex-wrap: wrap;
  }
  .product .product_title {
    display: none;
  }
  .product .mobile-tabs {
    display: block;
  }
  .product .mobile-tabs li {
    width: 50%;
    text-align: center;
  }
  .product .nav-tabs.mobile-tabs>li>a {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
  .product .nav-tabs.mobile-tabs>li.active>a {
    color: #000;
  }
  .your-review_wrapp {
    display: none;
  }
}
@media (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row {
    margin-right: -10px;
    margin-left: -10px;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-view .product-item_wrapp {
    width: 100%;
    flex-basis: 100%;
  }

  .description {
    padding-left: 0;
  }
  .product .image.absolute + div {
    display: flex;flex-direction: column-reverse;
  }
  .product .image.absolute {
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0 10px 0;
  }
  .actions-wrapper .actions {
    display: none;
  }
  .product .image.absolute .rating {
    display: none;
  }
  .product .image.absolute img {
    max-width: 55%;
  }
  .properties > div {
    width: 49%;
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    vertical-align: top;
  }
  .properties p {
    display: block;
  }
  .sell-block .txt, .sell-block .sell-btn, .sell-block p {
    width: 100%;
    text-align: center;
  }
  .sell-block .txt {
    color: #8BA0B4;
  }
  .sell-block {
    background: #F2F2F2;
  }
  .sell-block .sell-btn {
    margin-top: 10px;
  }

  .specification > div  {
    width: 100%;
    margin-top: 10px;
  }
  .specification > div  table {
    width: 100%;
  }
  h1 {
    font-size: 18px;
  }
  .under-title {
    font-size: 14px;
    line-height: 20px;
  }

  .your-review {
    margin: 20px -10px 0 -10px;
    border-radius: 0;
  }
  .find-product-modal .hint {
    margin-top: 0;
  }
  .pick-product {
    text-align: center;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .modal .modal-dialog .close {
    right: 0;
    top: 0;
  }

  .modal .modal-dialog {
    padding-top: 40px;
  }
}